# dockerpty: .travis.yml
#
# Copyright 2014 Chris Corbyn <chris@w3style.co.uk>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: required

language: python

# https://github.com/travis-ci/travis-ci/issues/5142#issuecomment-158563862

matrix:
  include:
    - python: "2.7"
      env: REQUIREMENTS=requirements-dev.txt VENV=python2.7
      services:
        - docker
    - python: "pypy"
      env: REQUIREMENTS=requirements-dev.txt VENV=pypy
      services:
        - docker
    - python: "3.4"
      env: REQUIREMENTS=requirements3-dev.txt VENV=python3.3
      services:
        - docker

install: pip install -r $REQUIREMENTS
script: py.test -q tests && behave -c
