language: python
python:
  - "2.7"

before_install:
  - sudo apt-get install -qq -y slirp ca-certificates
  - >
    sudo curl -sLo
    /usr/local/bin/docker
    https://get.docker.io/builds/Linux/x86_64/docker-1.0.0
  - sudo chmod +x /usr/local/bin/docker
  - >
    curl -sLo sekexe.zip
    https://github.com/jpetazzo/sekexe/archive/c5119f039140194f70a7ffa83e039b88960818c7.zip
  - unzip sekexe.zip
  - mv sekexe-* ./sekexe
  - sudo mkdir /var/lib/docker

install:
  - pip install -r requirements-dev.txt

script:
  - |
    # prepare a little bash script for sekexe
    cat > ./run.sh <<CMD
    #!/bin/bash

    set -xe

    # make sure docker is stopped when we exit
    trap 'kill $(jobs -p)' SIGINT SIGTERM EXIT

    # start docker backgrounded
    docker -d &

    # wait for docker to be ready
    sleep 5

    # run the tests
    $(which behave)
    CMD

    # make the script executable
    chmod +x ./run.sh

    # run the script with sekexe
    sudo ./sekexe/run $(realpath ./run.sh)
